.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
.banner {
  @apply max-w-7xl m-auto lg:min-h-[80vh] flex flex-col lg:flex-row items-center justify-between gap-4 px-4;
}

.bTitle {
  @apply capitalize text-5xl md:text-7xl md:leading-normal font-bold text-white leading-normal;
}
